body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(180deg, #5FAEE1, #F0CFEB);
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100vh;
}

header {
  padding: 20px;
}

.gif-container img {
  width: 200px;
  margin: 20px 0;
}

.buttons .btn {
  display: inline-block;
  background: #7e86b0;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.buttons .btn:hover {
  background: #ffd04f;
}

footer {
  position: absolute;
  bottom: 5px;
  padding: 5px 5px;
}

.lofi-widget {
  width: 300px;
  border: 2px solid #ffffff;
  background: #f3f3ea;
  box-shadow: 10px 10px 0 #A4BFEA;
  font-size: 14px;
  position: relative;
}

.widget-header {
  background: #af7a73;
  color: white;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.widget-title {
  font-weight: bold;
}

#minimize-btn {
  background: #7e86b0;
  color: white;
  border: none;
  cursor: pointer;
}
#minimize-btn:hover {
  background: #ffd04f;
}
.widget-body {
  padding: 10px;
}

.controls button {
  background: #feb3d1;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.controls button:hover {
  background: #ffd04f;
}

#volume-slider {
  width: 80%;
  color: #feb3d1;
}

#track-list {
  margin-top: 10px;
  font-size: 12px;
  color: #222838;
}

.hidden {
  display: none;
}

.loading {
  display: none;
}
.loading.active {
  display: block;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

